/* Google fonts: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/*-----------------------------------------------------------------------
                            Base Styling 
------------------------------------------------------------------------*/
:root {
    --orange: #E76F51;
    --hover-orange: #FA804C;
    --grey: #6C6C6C;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}



/*-----------------------------------------------------------------------
                            Utility Classes 
------------------------------------------------------------------------*/
.btn-cbr {
    background: var(--orange);
    color: #ffffff;
    font-weight: 500;
    padding: 10px 45px;
}

.btn-cbr:hover {
    background: var(--hover-orange);
    color: #ffffff;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fs-14px {
    font-size: 14px;
}

.fs-48px {
    font-size: 36px;
}

.orange-text {
    color: var(--orange);
}

/*-----------------------------------------------------------------------
                                Header Part 
------------------------------------------------------------------------*/
header {
    background: #264653;
    color: #ffffff;
}

/*-----------------------------------------------------------------------
                            Featured Bikes section 
------------------------------------------------------------------------*/
.featured-bikes-section {
    margin: 25% 0;
}

.featured-bikes-section .hr {
    border-top: 2px solid var(--orange);
    width: 75px;
}

.featured-bike {
    filter: grayscale(100%);
}






/*-----------------------------------------------------------------------
                            Media Query 
------------------------------------------------------------------------*/

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .featured-bikes-section {
        margin: 12% 0 5%;
    }
}


/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) {
    /* Utility Classes */
    .fs-48px {
        font-size: 48px;
    }

    /* Hero Section */
    header {
        min-height: 60vh;
    }

    main .container .row div:last-child {
        background: url("media/hero-dot-bg.svg") no-repeat 88% 5% /auto;
    }

    /* Featured Bikes section */
    .featured-bikes-section {
        margin: 5% 0;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Hero Section  */
    header {
        min-height: 100vh;
    }

    main p {
        width: 75%;
    }

    .hero-image {
        transform: scale(1.3);
        transform-origin: 100% 50%;
    }
}